@import 'color';

section {

    height: 100vh;
    background: linear-gradient(rgb(255 22 96), orange);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

    .form {
        display: flex;
        border-radius: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(255 255 255);
        height: 478px;
        padding: 20px;
        width: 40%;
        overflow-x: hidden;

        .btn {
            padding: 10px;
            font-size: 15px;
            border: none;
            cursor: pointer;
            width: 70%;

            color: #fff;
            background-color: rgb(214, 0, 68);
            border-radius: 4px;

        }

        >div {
            text-align: center;
            width: 100%;
            padding: 5px;
        }

        input,
        textarea {
            border: 2px solid #dddddd;
            border-radius: 8px;
            padding: 7px;
            background-color: rgba(210, 210, 210, 0.0901960784);
            width: 70%;
            font-size: 15px;
        }

        input:focus,
        textarea:focus {
            outline: none;
        }
    }

    .form-part {

        height: 478px;
        width: 157px;
        background-color: #fff;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        position: relative;

        img {
            right: -87px;
            top: 175px;
            position: absolute;
            width: 175px;
            filter: drop-shadow(2px 4px 6px black);
        }
    }

}

.thanku-cont {

    height: 100vmin;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        height: 100%;
        width: 500px;
        background-color: white;
        border-radius: 4px;
        padding: 90px 10px;
        text-align: center;

        h1 {
            margin: 20px;
            font-size: 30px;
        }

        a {
            margin: 0 auto;
        }
    }

}

@media screen and (max-width:600px) {

    section {
        padding: 0;

        .form {
            width: 100%;
        }

        .form-part {
            display: none;

        }

    }

}



@media screen and (max-width:600px) {

    .thanku-cont {

        >div {
            width: 100%;
        }

    }
}
@media screen and (max-width:768px) {

    section {
        padding: 0;

        .form {
            padding: 100px 0;
            justify-content: start;
            gap: 20px;
            overflow-x: hidden;
            width: 85%;
          

        }

        .form-part {
            display: none;

        }

    }

}



@media screen and (max-width:768px) {

    .thanku-cont {


        >div {
            width: 85%;
        }

    }
}