@import 'color.scss';

.Hero {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: left;
padding: 0 50px;
background: url('../assets/Homeimg.png') no-repeat right center/cover;
background-size: 50%;

    >div {

    //  border: 1px solid red;

        h1 {

            font-size: 50px;
            font-weight: 500;
        

        }
        h4{
            font-weight: 500;
        }

        button{
            margin: 15px 0;
            padding: 10px;
            background-color: $logoColor;
            color: #fff;
           
            border: none;
            cursor: pointer;
        }
    }

}