@import 'color';

.order-success {

    height: 100vh;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        height: 100%;
        width: 50%;
        background-color: white;
        padding: 90px 10px;
        text-align: center;

        h1 {
            margin: 20px;
        }

        a {
            margin: 20px;
            font-size: 13px;
            padding: 10px 25px;
            background-color: $logoColor;
            color: #fff;
            border-radius: 4px;
        }
    }

}


@media screen and (max-width:768px) {
    .order-success {

        >div {
            height: 100%;
            width: 85%;
        }

    }
}

@media screen and (max-width:600px) {
    .order-success {

        >div {
            height: 100%;
            width: 100%;
        }

    }
}