@import 'color';

.ship-container {
    height: 100vmin;
    background-color: #ffe0b1;
    display: flex;
    justify-content: center;
    align-items: center;

    .ship {

        height: 100%;
     
        border-radius: 10px;
        padding: 10px;
        width: 50%;

        background-color: #fff;
        // box-shadow: 0 0 px rgb(151, 151, 151);
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        align-items: center; 
        h1{
            padding: 20px 0px;
            // font-weight: bold;
            letter-spacing: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 35px;
        }
        form {


            // border: 1px solid rgb(0, 0, 0);
            width: 90%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;

            >div {
                display: flex;
                padding: 10px 70px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
          h5{
            font-weight: 500;
            font-size: 16px;
          }
                input,
                select {
                    width: 75%;
                    border: 1px solid #999999d0;
                    padding: 7px;
                    border-radius: 4px;
                    cursor: pointer;
&:focus{
    outline-color: $logoColor;
}
                }
input[type=submit]{
    padding: 15px;
    border: none;
    width: 39%;
    /* margin-right: 10%; */
    margin: 0 auto;
}

            }

            >div:last-child {
              display: flex;
              justify-content: center;
padding: 20px 0;
                a {
                    width: 30%;
                }
            }
        }
    }
}

@media  screen and (max-width:600px) {

     .ship-container{
   
            .ship{ 

                width: 100%;
            }
        
     }
   
  }
@media  screen and (max-width:768px) {

     .ship-container{
        height: auto;
      
            .ship{ 

                width: 85%;
                padding: 10px;
     height: 100%;
     h1{
 
        font-size: 30px;
    }
                >form{
                    div{
                        h5{
                            font-size: 14px;
                        }
                        padding: 10px;

                        input[type=submit]{
                        
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        
     }
   
  }
@media  screen and (max-width:1024px) {
     .ship-container{
            .ship{ 
     height: auto;
            }
     }
   
  }